<div class="mb-2">
  @if (label) {
    <label [for]="type" [ngClass]="labelClasses">
      {{ label }}
      @if (required) {
        <span class="text-red-500">*</span>
      }
    </label>
  }
  <div [ngClass]="wrapperClasses">
    <!-- Prefix Icon -->
    @if (prefixIconClass) {
      <div [ngClass]="iconWrapperClasses" class="left-0 pl-3">
        <i [ngClass]="prefixIconClass"></i>
      </div>
    }

    <!-- Input Field -->
    <input
      #inputEl
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
      (input)="onInput($event)"
      [attr.aria-describedby]="errorMessage ? 'error-' + type : null"
      [attr.autofocus]="autoFocus ? '' : null"
      [disabled]="disabled"
      [id]="type"
      [ngClass]="inputClasses"
      [placeholder]="placeholder"
      [readOnly]="readonly"
      [required]="required"
      [type]="type"
      [value]="value"
    />

    <!-- Suffix Icon -->
    @if (suffixIconClass) {
      <div [ngClass]="iconWrapperClasses" class="right-0 pr-3">
        <i [ngClass]="suffixIconClass"></i>
      </div>
    }
  </div>
  <!-- Error Message -->
  @if (errorMessage) {
    <p [@errorMessageAnimation] [id]="'error-' + type" [ngClass]="errorTextClasses">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span>{{ errorMessage }}</span>
    </p>
  }
</div>
