<div class="mb-4">
  @if (label) {
    <label [for]="_id" [ngClass]="labelClasses">
      {{ label }}
      @if (required) {
        <span class="text-red-500">*</span>
      }
    </label>
  }
  <textarea
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (input)="handleInput($event)"
    [attr.aria-describedby]="errorMessage ? 'error-' + _id : null"
    [disabled]="disabled"
    [id]="_id"
    [name]="name"
    [ngClass]="textareaClasses"
    [placeholder]="placeholder"
    [readOnly]="readonly"
    [required]="required"
    [rows]="rows"
    [value]="value"
  ></textarea>
  @if (errorMessage) {
    <p [@errorMessageAnimation] [id]="'error-' + _id" [ngClass]="errorTextClasses">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span>{{ errorMessage }}</span>
    </p>
  }
</div>
